DB/.env
DB/package-lock.json
DB/package.json
DB/node_modules/*
.env
package.json
testingDB.js
Server/package-lock.json
Server/package.json
Server/node_modules/*
Client/package-lock.json
Client/package.json
Client/node_modules/*
Client/eslint.config.js
Client/vite.config.js
