
.navContainer{
    background-color: #2A4549;
    width: 100vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
}

.leftBar{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo{
    height: 80%;
    margin: 0 0.5rem;
}

.navButton{
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 4rem;
    height: 50%;
    margin: 0 6px;
    background-color: #10646C;
    color: #D3BE92;
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
}

.logOut{
    height: 60%;
    margin: 0 0.9rem;
}