.pageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    align-self: flex-start;
    font-size: 1.2rem;
    color: #83633C;
    margin-left: 1rem;
}



.imageAndSummaryContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
}

.bookImage {
    display: inline-block;
    width: 40%;
    height: auto;
    margin: 3%;
}

.SummaryContainer {
    display: inline-block;
    width: 50%;
    height: 100%;
    margin: 3%;
    color: #1F758F;
    font-weight: 600;
    font-size: 0.8rem;
}

.SummaryP {
    background-color: #C8DDDB;
    border-radius: 0 15px 15px 15px;
    padding: 10px;
    height: fit-content;
    color: black;
    font-weight: 100;
}

.hr {
    width: 70%;
    height: 0.5px;
    background-color: #294549;
    margin: auto;
    margin-top: 10px;
}

.bookList {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    padding: 0;
}

.bookInList {
    width: 8rem;
    height: auto;
    padding: 8px;
    margin: 5px;
    background-color: #C8DDDB;
    border-radius: 15px 15px 0 15px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
}

.blackBook {
    width: 20%;
}

.borrowButtun {
    border-radius: 0;
    border: 0.09rem solid #294549;
    background-color: transparent;
    font-family: system-ui;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.3rem 1.2rem;
    margin-top: 2rem;
    color: #294549;
}

.borrowButtun:hover {
    background-color: rgba(255, 255, 255, 0.292);
}


@media screen and (min-width: 1024px) {
    .bookImage {
        margin-top:0;
        width: 35%;
        height: auto;
    }

    .pageContainer {
        height: fit-content;
        flex-direction: row;
    }

    .hr {
        height: 60vh;
        width: 3px;
        background-color: #294549;
        margin: 2rem;
    }

    .bookList{
        flex-flow: column;
        padding: 0;
    }

}