
.infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.userImage{
    width: 25%;
    height: 25%;
    margin: 5%;
}

.twoInfoFielsa{
    display: flex;
    flex-direction: column;
}

.infoField{
    background-color: transparent;
    border: 1px solid #294549;
    border-radius: 0 6px 6px 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: black;
    padding: 8px;
    margin: 0.6rem;
    position: relative;
    width: fit-content;
}

.infoFieldLabel{
    position: absolute;
    font-size: 0.75rem;
    top: -0.6rem;
    left: 0.5rem;
    padding: 0 0.1rem;
    background-color: #E1EDEB;
    font-family: system-ui;
    color: black;
    
}

.infoField input{
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
}

.updateBotton, .subscribeBotton{
    border-radius: 0;
    background-color: #294549;
    font-family: system-ui;
    text-align: center;
    font-size: 0.9rem;
    padding: 5px;
    margin: 0.5rem;
    color: white;
    justify-self: center;
    width: 4rem;
    align-self: center;
}

.subscribeBotton{
    width: 5rem;
}

.hr{
    width: 70%;
    height: 0.5px;
    background-color: #294549;
    margin: 4%;
}

.standartButton{
    margin: 5px;
}

@media screen and (min-width: 1024px) {
    .twoInfoFielsa{
        display: flex;
        flex-direction: row;
    }

    .userImage{
        width: 10%;
        height: 10%;
        margin: 5%;
    }
  }