
.infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.userImage{
    width: 25%;
    height: 25%;
    margin: 5%;
}

.infoField{
    background-color: transparent;
    border: 1px solid #294549;
    border-radius: 0 6px 6px 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: black;
    padding: 8px;
    margin: 0.5rem;
    position: relative;
    width: fit-content;
}

.infoFieldLabel{
    position: absolute;
    font-size: 0.75rem;
    top: -0.6rem;
    left: 0.5rem;
    padding: 0 0.1rem;
    background-color: #E1EDEB;
    font-family: system-ui;
    color: black;
    
}

.infoField input{
    background-color: transparent;
    border: none;
}

.updateBotton{
    border-radius: 0;
    background-color: #294549;
    font-family: system-ui;
    text-align: center;
    font-size: 0.9rem;
    padding: 5px;
    margin: 0.5rem;
    color: white;
}

.updateBotton:hover{
    background-color: rgba(255, 255, 255, 0.292);
}

.hr{
    width: 70%;
    height: 0.5px;
    background-color: #294549;
    margin: 4%;
}

.standartButton{
    margin: 5px;
}